<p id="notice"><%= notice %></p>

<h3>
  <strong>Title:</strong>
  <%= @wiki.title %>
</h3>

<p>
  <strong>Body:</strong>
  <%= @markdown.render(@wiki.body).html_safe %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
